*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body{
    height: 100%;
    width: 100%;
} */

body{
    background: #212020;
    color: white;
}

.head{
    margin-left: 1vw;
}

nav{
    width: 100%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw;
}

.nav2{
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 1vw;
}

.nav2 h3{
    cursor: pointer;
}
