
body::-webkit-scrollbar {
    display: none;
}

.sidebar {
    background-color: #343a40;
    height: 100vh;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px; 
    z-index: 1000;
    overflow-y: auto;
}

.sidebar a {
    color: #adb5bd;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #495057;
    color: #fff;
}

.sidebar a.active,
.sidebar a.active:hover {
    background-color: #495057;
    color: #fff;
}


.main-content {
    margin-left: 270px;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-footer a {
    text-decoration: none;
    font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}
