
.table-wrapper {
    height: 400px;
    overflow-y: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
}


.table-wrapper::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}


.table th {
    position: sticky;
    top: 0;
    z-index: 1; 
    background-color: #343a40;
    color: white; 
}


.table {
    width: 100%;
    table-layout: fixed; 
}
